:root{
     --bg-1:#0e175f;
     --bg-2:#0e175ff8;
     --bg-3:#0b61a3;
     --hover:#a0e2e2;
     --special-lettre:#00FFDD;
     --text: #E8FFC2;
}
@font-face {
     font-family: "font-1";
     src: url(../inserer/font/AkayaTelivigala-Regular.ttf);
}
*{
     color: var(--text) !important;
     font-family: "font-1", sans-serif;
     letter-spacing: 2px;
     font-size: 1rem;
}
body{
     background: var(--bg-3) !important;
}
header{
     background: var(--bg-1); 
     padding: 10px 0;
     margin-top: 10px;
}
main{
     width: 100%;
     margin: 10px auto;
     display: flex;
     flex-direction: row;
}
main article{
     margin: 0 5px;
     padding: 1rem;
     background: var(--bg-1);
     height: 100% !important;
     min-height: 500px;
     border-radius: 20px;
}











/*js-------------------------------------------------------*/
@media screen and (max-width : 870px){
     .visibleJS{
          visibility: visible;
     }
     .scaleJS{
          height: 300px;
     }
     
}
.fixed{
     top: 0;
     position: fixed;
     width: 100%;
     margin: 0;
     z-index: 1;
}
/*js-------------------------------------------------------*/