@font-face {
  font-family: "font-1";
  src: url(../inserer/font/AkayaTelivigala-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../inserer/font/NovaRound-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(../inserer/font/dois/Dosis-VariableFont_wght.ttf);
}
@font-face {
  font-family: "font-4";
  src: url(../inserer/font/NovaRound-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  font-family: "font-1", sans-serif;
  font-weight: normal;
  color: #E8FFC2;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #1a8ae1;
  height: 100vh;
}

header {
  height: 4rem;
  margin-bottom: 1rem;
  background: #0e175f;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  border-bottom: 2px solid #1a8ae1;
}
header h1 {
  font-size: 2rem;
  color: #00FFDD;
  padding-top: 1rem;
  letter-spacing: 5px;
  margin-left: 1rem;
  color: #333;
}
header .menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .menu a {
  padding: 10px;
  min-width: 100px;
  text-align: center;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
  text-transform: lowercase;
  font-style: 2rem;
}
header .menu a:hover {
  background: #1a8ae1;
  opacity: 0.6;
}
header .menu a i {
  color: #00FFDD;
  margin-right: 1rem;
}

#beurgeur {
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 1000;
  visibility: hidden;
}
#beurgeur span {
  height: 5px;
  border-radius: 5px;
  display: block;
  background-color: #2967a1;
  transition: 0.3s ease-in-out;
  position: absolute;
}
#beurgeur span:nth-child(1) {
  width: 50%;
  top: 0;
}
#beurgeur span:nth-child(2) {
  width: 100%;
  top: 12px;
}
#beurgeur span:nth-child(3) {
  width: 50%;
  right: 0;
  top: 24px;
}

main {
  width: 95%;
  margin: 0 auto 10px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "identity contenary";
  border-radius: 10px;
}

.identiter {
  grid-area: identity;
  width: inherit;
  min-height: 80vh;
  text-align: center;
  position: relative;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 2rem;
  border-radius: 20px;
  background: #0e175f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.identiter .image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #2967a1;
  user-select: none;
  cursor: not-allowed;
}
.identiter .image h1 {
  font-family: "font-4";
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: #ddd;
  user-select: none;
  cursor: not-allowed;
}
.identiter .symbol {
  transform: scale(2) rotate(0);
  cursor: not-allowed;
  user-select: none;
  color: #1a8ae1;
}
.identiter .status {
  position: relative;
  font-size: 1.2rem;
  padding: 2rem 0 0;
  user-select: none;
  cursor: not-allowed;
  font-size: 2rem;
  color: #00FFDD;
  padding-top: 1rem;
  letter-spacing: 5px;
  margin-left: 1rem;
}
.identiter .status::after {
  content: "";
  background: #1a8ae1;
  transform: translateX(-50%);
  position: absolute;
  width: 7rem;
  height: 2px;
  top: 0;
  left: 50%;
  bottom: none;
  right: none;
}
.identiter footer {
  min-width: 200px;
  width: 100%;
  font-size: 1.3rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.identiter footer a {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 3px #333;
  background: #0e175f;
  border-radius: 50%;
}
.identiter footer a:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  color: #2967a1;
  background: #1a8ae1;
}
.identiter footer a:active {
  animation: anim 0.5s infinite;
}
@keyframes anim {
  to {
    transform: scale(0.8);
  }
}
.identiter footer a i {
  color: #ddd;
}

.contenaire {
  grid-area: contenary;
  background: transparent;
  height: auto;
}

.box-contenaire {
  background: #0e175f;
  border-radius: 20px;
  margin-bottom: 1rem;
  border: 3px solid #333;
}

.desactive {
  display: none !important;
}

#acceuil {
  padding: 2rem 0 0 4rem;
  height: 74vh;
  background: linear-gradient(115deg, #0e175f 50%, transparent 100%) !important;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-areas: "h1" "h2" "btm";
}
#acceuil::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url(../media/njr3.jpg) no-repeat center/cover;
  z-index: -12;
  filter: brightness(100%);
  transform: translateX(37%);
}
#acceuil h1 {
  min-height: inherit;
  grid-area: h1;
  font-family: "font-4", sans-serif;
  font-size: 2rem;
  color: #00FFDD;
  padding-top: 1rem;
  letter-spacing: 5px;
  margin-left: 1rem;
  font-size: 3.5rem;
}
#acceuil h2 {
  grid-area: h2;
  font-weight: normal;
  font-size: 1.2rem;
}
#acceuil .btm {
  grid-area: btm;
  background: #1a8ae1;
  color: #333;
  font-size: 1.3rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #2967a1;
  width: 230px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  box-shadow: -2px -3px 2px 1px #333;
}
#acceuil .btm:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  color: #2967a1;
  background: #1a8ae1;
}
#acceuil .btm:active {
  animation: anim 0.5s infinite;
}
@keyframes anim {
  to {
    transform: scale(0.8);
  }
}
#acceuil .btm:hover {
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #ddd;
  border-left: 1px solid #2967a1;
  box-shadow: 2px 3px 2px 1px #333;
  color: #ddd;
  transform: translateX(10px);
}

@keyframes pop {
  to {
    transform: scaleY(1);
  }
}
#contact {
  height: 80vh;
  background: linear-gradient(to top, #0e175f 20%, transparent 20%) !important;
  display: grid;
  justify-content: center;
  position: relative;
  align-items: flex-end;
  grid-template-columns: 1fr;
  grid-template-rows: 70% 1fr;
  overflow: hidden;
}
#contact::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url(../media/rova.webp) no-repeat center/cover;
  z-index: -2;
  filter: blur(2px);
}
#contact::before {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  height: 50%;
  width: 100%;
  background: url(../media/shaps.svg) no-repeat center/cover;
  z-index: -1;
}
#contact i {
  transform: scale(1.1);
  color: #00FFDD;
}
#contact .contacte-moi {
  min-width: 400px;
  width: auto;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  background: #2967a1;
  box-shadow: 0px 0px 20px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact .contacte-moi h1 {
  text-align: center;
  padding: 10px 10px 1rem;
  color: #00FFDD;
  position: relative;
}
#contact .contacte-moi h1::after {
  content: "";
  background: #1a8ae1;
  transform: translateX(-50%);
  position: absolute;
  width: 10rem;
  height: 2px;
  top: none;
  left: 50%;
  bottom: 0;
  right: none;
  background: #00FFDD !important;
}
#contact .contacte-moi .contenue-contact {
  display: grid;
  line-height: 3rem;
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 1rem;
}
#contact .contacte-moi .contenue-contact a i {
  margin-right: 3rem;
}
#contact .reseaux {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}
#contact .reseaux a {
  width: 150px;
  height: 60px;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #2967a1;
  border-radius: 20px;
  color: #333;
  line-height: 1rem;
  box-shadow: 0px 0px 5px #333;
  font-weight: bold;
  transform: scaleY(0);
  transform-origin: top;
  transition: scale 1s;
}
#contact .reseaux a:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  color: #2967a1;
  background: #1a8ae1;
}
#contact .reseaux a:active {
  animation: anim 0.5s infinite;
}
@keyframes anim {
  to {
    transform: scale(0.8);
  }
}
#contact .reseaux a:hover {
  color: #ddd;
}
#contact .reseaux a i {
  transform: scale(1.5);
}
#contact .reseaux a:nth-child(1) {
  animation: pop 1s forwards;
  animation-duration: 0.4;
  transform-origin: center;
}
#contact .reseaux a:nth-child(2) {
  animation: pop 1s forwards;
  animation-duration: 1.2s;
  transform-origin: center;
}
#contact .reseaux a:nth-child(3) {
  animation: pop 1s forwards;
  animation-duration: 1.6s;
  transform-origin: center;
}
#contact .reseaux a:nth-child(4) {
  animation: pop 1s forwards;
  animation-duration: 2.2s;
  transform-origin: center;
}

@media screen and (max-width: 870px) {
  body {
    overflow: scroll;
    height: auto;
    background: #ddd;
    width: 100% !important;
  }

  header {
    height: auto;
    min-width: 100% !important;
    margin-bottom: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "portfolio beurgeur" "menu menu";
  }
  header h1 {
    grid-area: portfolio;
  }
  header .menu {
    height: 220px;
    grid-area: menu;
    text-align: center;
    z-index: 1;
    display: none;
    transition: 0.8s ease-in-out;
  }
  header .menu a {
    display: block;
    width: 100%;
  }
  header #beurgeur {
    grid-area: beurgeur;
    visibility: visible;
  }

  main {
    width: inherit;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 2px;
    grid-template-areas: "identity" "acceuil";
  }
  main .identiter {
    grid-area: identity;
    display: none;
    height: 100%;
    margin: 10px 0;
    margin-bottom: 10rem;
    border-radius: 0px;
  }
  main .identiter * {
    padding: 0;
    margin: 0;
  }
  main .contenaire {
    grid-area: acceuil;
    height: auto;
  }
  main .contenaire .box-contenaire {
    margin: 1.5rem 0;
    border-radius: 0px;
    min-height: 250px;
  }
  main .contenaire #acceuil {
    display: grid !important;
    height: 500px;
    padding: 2rem 10px;
    font-size: 0.8rem;
    height: inherit;
  }
  main .contenaire #acceuil h1 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    height: 20px;
  }
  main .contenaire #contact {
    width: auto;
    height: 440px;
    display: grid !important;
  }
  main .contenaire #contact .contacte-moi {
    transform: translateY(-20%);
  }
  main .contenaire #contact .reseaux {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  main .contenaire #projects {
    display: grid !important;
    height: 420px !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
  }
}
#beurgeur.activeJS span:nth-child(1) {
  width: 100%;
  top: 12px;
  transform: rotate(45deg);
}
#beurgeur.activeJS span:nth-child(2) {
  visibility: hidden;
}
#beurgeur.activeJS span:nth-child(3) {
  width: 100%;
  top: 12px;
  transform: rotate(-45deg);
}

.showMenu {
  display: grid !important;
}

.fixed {
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 1;
}

.rotate {
  transform: scale(2) rotate(0);
  animation: rotate 0.5s linear;
}

@keyframes rotate {
  to {
    transform: scale(2) rotate(720deg);
  }
}
.active {
  background: #1a8ae1;
  border-radius: 10px;
  color: #ddd;
  padding: 0 2rem;
  text-transform: uppercase !important;
}
.active:hover {
  opacity: 1 !important;
}

#projects {
  height: 80vh;
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}
#projects .composante {
  display: block;
  min-height: 200px;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  margin: 5px auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  text-align: center;
}
#projects .composante p {
  color: #2967a1;
  text-shadow: 2px 2px 0px #ddd, 3px 3px 0px #2967a1, -1px 1px 0px #333;
  width: 100%;
  height: 100%;
  letter-spacing: 3px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  backdrop-filter: blur(5px);
  visibility: hidden;
}
#projects .composante .language-contenaire {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2rem;
  background: #ddd;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: black;
}
#projects .composante .btm-contenaire {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ddd;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
#projects .composante .btm-contenaire .btm-contenue {
  color: #333 !important;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent !important;
  border: none !important;
  padding: 1px 1rem;
  background: #1a8ae1;
  color: #333;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #2967a1;
  width: auto;
  height: 1.5rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
#projects .composante .btm-contenaire .btm-contenue:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  color: #2967a1;
  background: #1a8ae1;
}
#projects .composante .btm-contenaire .btm-contenue:active {
  animation: anim 0.5s infinite;
}
@keyframes anim {
  to {
    transform: scale(0.8);
  }
}
#projects .composante .btm-contenaire .btm-contenue:hover {
  border-bottom: none;
  border-right: none;
  border-top: 1px solid #ddd;
  border-left: 1px solid #2967a1;
  box-shadow: 2px 3px 2px 1px #333;
  color: #ddd;
  transform: translateX(5px);
}

/*# sourceMappingURL=style.css.map */
