#acceuil{
     padding: 5vh 0 0 5vh;
     height: 74vh;
     background: linear-gradient(115deg, $bg-1 50%, transparent 100%) !important;
     position: relative;
     overflow: hidden;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 19vh 1fr 1fr;
     grid-template-areas: 
          "h1"
          "h2"
          "btm";
     &::after{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background: url(../media/njr3.jpg) no-repeat center/cover;
          z-index: -12;
          filter: brightness(100%) ;
          transform: translateX(37%);
     }
     h1{
          min-height: inherit;
          grid-area: h1;
          font-family: "font-4", sans-serif;
          @include special-Letter;
          font-size: 10vh;
     }
     h2{
          grid-area: h2;
          font-weight: normal;
          font-size:1.2vw;

     }
     .btm{
          grid-area: btm;
          @include btm(3vh, 20vw, 5vh, 2vh);
          box-shadow: -2px -3px 2px 1px $black;
     }
}