$shap-height : 20%;
@mixin animation($time){
     animation: pop 1s forwards;
     animation-duration: $time;
     transform-origin: center;
}
@keyframes pop {
     to{
          transform: scaleY(1);
     }
}
#contact{
     min-height: 80vh;
     background: linear-gradient(to top, $bg-1 $shap-height, transparent $shap-height) !important;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     flex-direction: column;
     overflow: hidden;
     position: relative;
     &::after{
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background: url(../media/rova.webp) no-repeat center/cover;
          z-index: -2;
          opacity: 0.5;
          filter: blur(1px);
     }
     &::before{
          content: "";
          position: absolute;
          bottom: $shap-height;
          left: 0;
          height: 50%;
          width: 100%;
          background: url(../media/shaps.svg) no-repeat center/cover;
          z-index: -1;
     }
     i{
          transform: scale(1.1);
          color: $special-lettre;
     }
     .contacte-moi{
          width:30vw;
          height: 40vh;
          padding: 2vh 3vw;
          margin: 0 auto;
          border-radius: $radius;
          background: $hover;
          box-shadow: 0px 0px 20px  $black;
          display: flex !important;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h1{
               text-align: center;
               padding: 2vh 1vw;
               color: $special-lettre;
               font-size: 2vw;
               position: relative;
               &::after{
                    @include ligne(10vw,0.2vh, none, 50%,0,none);
                    background: $special-lettre !important;
               }
          }
          .contenue-contact{
               display: flex;
               flex-direction: column;
               line-height: 10vh;
               font-size: 1.3vw;
               letter-spacing: 2px;
               margin: 1rem;
               a i{
                    margin-right: 2vw;
               }
          }
     }
     .reseaux{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          a{
           width: 10vw;
           height: 10vh;
           margin: 1rem auto;
           font-size: 1.1vw;
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
           align-items: center;
           background: $hover;
           border-radius: $radius;
           color: $black;
           line-height: 1rem;
           box-shadow: 0px 0px 5px  $black;
           font-weight: bold;
           transform-origin: top;
           transition: 0.5s ease;
           @include hover-active;
           &:hover{
                color: $white;
                transform: translateY(-3px) !important;
           }
           i{
                transform: scale(1.5);
           }
           &:nth-child(1){
               @include animation(0.4)
          }

          &:nth-child(2){
               @include animation(1.2s)
          }

          &:nth-child(3){
               @include animation(1.6s)
          }

          &:nth-child(4){
               @include animation(2.2s)
          }
          }
     }
}