header{
     width: 95vw;
     height: 10vh;
     margin: 3px auto 5px;
     border-radius: $radius;
     background: $bg-1;
     display: grid;
     grid-template-columns: 10% 80% 10%;
     font-size: 2vh;
     position: relative;
     img{
          display: none;
          height:70px;
          border-radius: 50%;
          box-shadow: 0px 0px 1px 2px $white;
     }
     .porfolio{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @include special-Letter;
          .clock{
               h1{
                    color: $special-lettre;
                    font-size: 1.1rem;
               }
               .date{
                    color: $white;
                    font-size: 1rem;
               }
          }

     }
   
     .menu{
          width: 80%;
          margin: 0 auto;
          @include flex-evenly;
          a{
               padding: 2vh;
               text-align: center;
               text-transform: lowercase;
               letter-spacing: 0.2vh;
               opacity: 0.5;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: row;
               &:hover{
                    background: $bg-3;
                    opacity: 0.6;
               }
               i{
                    color: $special-lettre;
                    margin-right: 1.2vw;
               }
          }
     }
}
//beurgeur menu
.beurgeur-contenaire{
     width: 5vw;
     height: 3vh;
     position: absolute;
     top: 100%;
     right: 50%;
     cursor: pointer;
     transform: translate(-10%,-50%);
}
#beurgeur{
     width: inherit;
     height: inherit;
     position: relative;
     top: 0;
     left: 0;
     z-index: 1000;
     visibility: hidden; 
     span{
          height: 0.2vw;
          display: block;
          transition: 0.3s ease-in-out;
          position: absolute;
          background:$white !important;
          border-radius: $radius;
          &:nth-child(1){
               width: 50%;
               top: 0;
          }
          &:nth-child(2){
               width: 100%;
               top:50%;
               transform: translateY(-50%);
          }
          &:nth-child(3){
               width: 50%;
               right: 0;
               bottom: 0;
          }
     }
}
@media screen and (max-width : 870px){
     header{
          width: 100%;
          height: auto;
          min-height: 85px;
          border-radius: 0px;
          margin: 0 0 10px;
          display: grid !important;
          grid-template-columns: 40% 50% 1fr;
          grid-template-rows: 50px 1fr;
          grid-template-areas: 
          "A B C"
          "D D D";

          .porfolio{
               grid-area: A;
               height: 100%;
               width: 100%;
               display: flex !important;
               flex-direction: row;
               justify-content: space-evenly;
               margin: 10px 0 0;
               img{
                    display: block !important;

               }
          }
          .beurgeur-contenaire{
               grid-area: C;
               #beurgeur{
                    visibility: visible;
               }
          }
          .menu{
               margin: 1rem auto 0;
               width: 50%;
               display: none;
               margin-right: 10%;
               grid-area: D;
               a{
                    border-radius: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                         margin: auto;
                    }
                    span{
                         display: none;
                    }
               }
          }
     }
}