header{
     width: 95vw;
     height: 10vh;
     margin: 3px auto 5px;
     border-radius: $radius;
     background: $bg-1;
     display: grid;
     grid-template-columns: 10% 80% 10%;
     font-size: 2vh;
     img{
          display: none;
     }
     .porfolio{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @include special-Letter;
          h1{
               @include special-Letter;
               color: $special-lettre;
          }
          .date{
               color: $white;
               font-size: 1rem;
          }
          
     }
   
     .menu{
          width: 80%;
          margin: 0 auto;
          @include flex-evenly;
          a{
               padding: 2vh;
               text-align: center;
               text-transform: lowercase;
               letter-spacing: 0.2vh;
               opacity: 0.5;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: row;
               &:hover{
                    background: $bg-3;
                    opacity: 0.6;
               }
               i{
                    color: $special-lettre;
                    margin-right: 1.2vw;
               }
          }
     }
}
//beurgeur menu
.beurgeur-contenaire{
     width: 5vw;
     height: 3vh;
     position: absolute;
     top: 2rem;
     right: 10%;
     cursor: pointer;
     transform: translate(-10%,-50%);
}
#beurgeur{
     width: inherit;
     height: inherit;
     position: relative;
     top: 0;
     left: 0;
     z-index: 1000;
     visibility: hidden; 
     span{
          height: 0.2vw;
          display: block;
          transition: 0.3s ease-in-out;
          position: absolute;
          background:$white !important;
          border-radius: $radius;
          &:nth-child(1){
               width: 50%;
               top: 0;
          }
          &:nth-child(2){
               width: 100%;
               top:50%;
               transform: translateY(-50%);
          }
          &:nth-child(3){
               width: 50%;
               right: 0;
               bottom: 0;
          }
     }
}
@media screen and (max-width : 870px){
     header{
          width: 100%;
          border-radius: 0px;
          margin: 0 0 10px;
          .menu{
               position: relative;
               span{
                    font-size: 0px;
               }
          }
     }
}