

#identiter {
  height: 80vh;
  background: transparent;
  .contenaire-identiter {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 40% 35% auto;
    grid-template-rows: 45vh 1fr;
    grid-template-areas: 
    "languages diplomes diplomes"
    "autre autre interet ";

    .languages {
      grid-area: languages;
      width: 100%;
      background: $bg-1;
      border-radius: 20px;
      display: grid;
      @include scrollY;
      .language-contenue{
        padding: 10px 1rem;
      }
    }
    .diplomes {
      grid-area: diplomes;
      background: $bg-1;
      border-radius: 20px;
      height: inherit;
      @include scrollY();
      font-size: 1rem;
      .diplomes-contenaire{
        height: 80%;
        display: grid;
        margin: 10px;
        ul{
          display: grid;
          margin-top: 2rem;
          grid-template-columns: 35% 35% auto;
          li:nth-child(2){
            margin: 0 auto;
          }
        }
        
      }
    }
    .autres {
      grid-area: autre;
      background: $bg-1;
      border-radius: 20px;
      // @include scrollY;
      .autres-contenaire{
        margin: 10px 1rem;
        display: flex;
        .autres-contenaire1,.autres-contenaire2{
          width: 100%;
          margin: 0 10px;
        } 
      }
    }
    .interets {
      grid-area: interet;
      background: $bg-1;
      border-radius: 20px;
      .interets-contenaire{
        ul{
          line-height: 1.5rem;
          text-transform: capitalize;
          margin: 1rem;
          li{
            list-style-type: square;
            margin:  0 1rem ;    
          }
        }
      }
    }
  }
  .contenaire-etiquette{
    width: 100%;
    margin: 5px 0;
    text-align: center;
    .etiquette{
      text-transform: uppercase;
      font-size: 1rem !important;
      letter-spacing: 0.2rem;
      color: $special-lettre;
      font-weight: 600 !important;
    }
  }
}
.eatchLanguage{
  width: inherit;
  height: inherit;
  font-size: 0.8rem;
  img{
    width: 1rem;
    margin-right: 0.2rem;
  }
  i{
    transform: scale(1.2);
  }
  .progresseBarre{
    width: 100%;
    height: 0.4rem;
    margin: 0.3rem 0;
    border: .1px solid $hover2;
    border-radius: 20px;
    .eatch-Bare{
      max-width: inherit;
      height: inherit;
      margin: 0;
      padding: 0;
      background:$hover;
      animation: anim 2s ease-in-out;
    }
    @keyframes anim {
      0%{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width : 870px){
  #identiter{
    .contenaire-identiter {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      "languages" 
      "autre"
      "diplomes"
      "interet";
    }
    .diplomes,
    .languages,.autres, .interets{
      height: auto;
      overflow:visible!important;
      border-radius: 0px !important;
      margin: 0 !important;
    }
    .languages{
      grid-area: languages;
    }
    .diplomes{
      grid-area: diplomes;
      height: auto !important;
    }
    .autres{
      grid-area: autre;
    }
    .interets{
      grid-area: interet;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}