main{
     width: 95%;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 20vw 1fr;
     grid-template-areas: 
          "identity contenary";
     border-radius: 10px;
   }
   //----------------------------------------------------------------------------

   //----------------------------------------------------------------------------
   .contenaire{
     grid-area: contenary;
     background: transparent;
     height: auto;
   }
   .box-contenaire{
     background: $bg-1;
     border-radius: $radius;
     margin-bottom: 1vh;
   }
   .desactive{
     display: none !important;
   }
   @media screen and (max-width : 870px){
     body{
          display: block;
     }
        .profil{
             display: none;
        }
        main{
             display: block;
             width: 100%;
   
        }
        .box-contenaire{
             width: 100%;
             border-radius: 0;
        }
   }