main{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-areas: 
       "identity contenary";
  border-radius: 10px;
}
//----------------------------------------------------------------------------
$image-size : 10vw;
.profil{
  grid-area: identity;
  width: inherit;
  height: 80vh;
  text-align: center;
  position: relative;
  flex-direction: column;
  margin-right: 1vh;
  margin-bottom: 2vh;
  border-radius: $radius;
  background: $bg-1;
  @include flex-evenly;

  .image{
       img{
            height:$image-size;
            width:$image-size;
            border-radius:50%;
            border: 0.5vh solid $special-lettre;
            user-select: none;
            cursor: not-allowed;
       }
       h1{
            font-family: "font-4";
            font-size: 1vw;
            font-weight: bold;
            letter-spacing: 4px;
            color: $white;
            user-select: none;
            cursor: not-allowed;
       }
  }
  .symbol{
       font-size: 10vh;
       cursor: not-allowed;
       user-select: none;
       color: $bg-3;
  }
  .status{
       position: relative;
       font-size: 1.2rem;
       padding: 2rem 0 0;
       user-select: none;
       cursor: not-allowed;
       @include special-Letter;
       &::after{ @include ligne(10vw, 0.1vh, 0, 50%, none, none );}
  }
  footer{
       min-width: 10vw;
       width: 100%;
       font-size: 3vh;
       margin: 1vh 0;
       @include flex-evenly;
       flex-wrap: wrap;

       a{
            width: 3vw;
            height: 3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 0.2vh 0.2vh $hover;
            background: $bg-1;
            border-radius: 50%;
            @include hover-active;
            i{
                 color:$white;
            }
       }
  }
}
//----------------------------------------------------------------------------
.contenaire{
  grid-area: contenary;
  background: transparent;
  height: auto;
}
.box-contenaire{
  background: $bg-1;
  border-radius: $radius;
  margin-bottom: 1vh;
}
.desactive{
  display: none !important;
}
@media screen and (max-width : 870px){
     .profil{
          display: none;
     }
     main{
          display: block;
          width: 100%;
     }
     .box-contenaire{
          width: 100%;
          border-radius: 0;
          min-height: 80vh;
     }
}