@media screen and (max-width : 870px){
     body{
          overflow: scroll;
          height: auto;
          background: $hover;
          width: 100% !important;
          position: relative;
     }
     main{
          width: 100%;
          padding: 0;
          margin: 0;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr auto 2px;
          grid-template-areas: 
          "identity"
          "acceuil";
          .contenaire{
               grid-area: acceuil;
               height: auto;
               .box-contenaire{
                    width: inherit !important;
                    margin: 2px 5px;
                    border: none;
                    border-radius: 0px;
                    min-height: 150px;  
                    max-height: 500px;             
               }
               #acceuil{
                    padding: 2rem 10px;
                    height: inherit;
                    display: grid !important;
                    grid-template-columns: 1fr;
                    grid-template-rows: 8vh 1fr 1fr;
                    grid-template-areas: 
                         "h1"
                         "h2"
                         "btm";

                    h1{
                         grid-area: "h1";
                         font-size: 5vh;
                         padding: 0;
                         margin: 0;
                         height: 20px;
                    }
                    h2{
                         grid-area: "h2";
                         font-size: 2vh;
                    }
                    .btm{
                         grid-area: "btm";
                         width: 40vw;
                    }
               }
               #contact{
                    width: inherit;
                    height: 400px;
                    display: grid !important;
                    .contacte-moi{
                         width: 70%;
                         height: 30vh;
                         display: grid;
                         grid-template-rows: 1fr 1fr 1fr;
                         h1{
                              font-size:4vw;
                         }
                         .contenue-contact{
                              line-height:6vh;
                              font-size: 2vh;
                         }
                    }
                    .reseaux{
                         grid-template-rows: 1fr 1fr;
                         grid-template-columns:1fr 1fr;
                         align-items: center;
                         a{
                              width: 20vw;
                              height: 7vh;
                              font-size: 2vh;
                         }
                    }
               }
               #projects{
                    max-width:420px !important;
                    min-height: 200px;
                    height: 40vh;
                    display: grid !important;
                    grid-template-rows:1fr;
                    grid-template-columns:auto auto auto auto auto;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    .composante{
                         width: 350px;
                         margin: 10px;
                         p{
                              font-size: 7vw;
                         }
                         .btm-contenue{
                              @include btm(2vh,auto,3vw, 10px);
                         }
                    }
               }
          }
     }


}