@media screen and (max-width : 870px){
     body{
          background: $special-lettre;
          width: 100% !important;
          position: relative;
     }
     main{
          width: 100%;
          height: 10vw !important;
          padding: 0;
          margin: 0;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr auto 2px;
          grid-template-areas:
          "identity"
          "acceuil";
          .contenaire{
               grid-area: acceuil;
               height: auto;
               .box-contenaire{
                    width: inherit !important;
                    margin: 1px 0;
                    border: none;
                    border-radius: 0px;
                    min-height: 150px;  
                    max-height: 500px;
               }
               #acceuil{
                    padding: 2rem 10px;
                    height: 40vh;
                    display: grid !important;
                    grid-template-columns: 1fr;
                    grid-template-rows: 8vh 1fr 1fr;
                    grid-template-areas: 
                         "h1"
                         "h2"
                         "btm";

                    h1{
                         grid-area: "h1";
                         font-size: 7vw;
                         padding: 0;
                         margin: 0;
                         height: 20px;
                    }
                    h2{
                         grid-area: "h2";
                         font-size: 3vw;
                    }
                    .btm{
                         grid-area: "btm";
                         width: 50vw;
                    }
               }
               #contact{
                    width: inherit;
                    display: flex !important;
                    justify-content: center;
                    flex-direction: column;
                    .contacte-moi{
                         width:100%;
                         height: 30vh;
                         border-radius: 0px;
                         display: grid;
                         grid-template-rows: 1fr 1fr 1fr;
                         background: transparent;
                         backdrop-filter: blur(2px);
                         h1{
                              font-size:4vw;
                              text-shadow: 1px 1px 2px $black,
                              -1px -1px 2px $hover;
                              &::after{
                                   @include ligne(20vw,0.1vh, none, 50%,0,none);
                              }
                         }
                         .contenue-contact{
                              line-height:6vh;
                              font-size: 3vw;
                              text-shadow: 1px 1px 2px $black,
                                           -1px -1px 2px $hover;
                              i{
                                   margin-right: 5vw;
                                   font-size: 0.9rem;
                              }
                         }
                    }
                    .reseaux{
                         display: flex;
                         align-items: center;
                         flex-wrap: wrap;
                         a{
                              min-width: 150px;
                              width: 20vw;
                              height: 7vh;
                              font-size: 2vw;
                              margin: 10px;
                         }
                    }
               }
               #projects{
                    height: auto;
                    overflow: scroll;
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    overflow-y: hidden;
                    .composante{
                         width: 300px !important;
                         height: 200px !important;
                         margin: 10px;
                         p{
                              font-size: 2rem;
                         }
                         .btm-contenaire{
                              .btm-contenue{
                                   font-size: 0.9rem;
                                   padding: 10px;
                              }
                         }
                    }
               }
          }
     }


}