@mixin special-Letter{
     font-size: 2vw;
     color: $special-lettre;
     padding-top: 1vh;
     margin-left: 1vw;
}
@mixin flex-evenly{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
@mixin hover-active{
     &:hover{
          transform: scale(1.1);
          transition: 0.1s ease-in-out;
          color:$hover;
          background: $bg-3;
     }
     &:active{
          transform: scale(0.9);
     }
}
@mixin ligne($width , $height, $top : 0, $left : 0, $bottom : 0, $right : 0){
     content: "";
     background: $bg-3;
     transform: translateX(-50%);
     position: absolute;
     width: $width;
     height: $height;
     top: $top;
     left: $left;
     bottom: $bottom;
     right: $right;
}
@mixin btm($size,$width,$height,$translate){
     background: $bg-3;
     color: $black;
     font-size: $size;
     border-bottom: 0.2vh solid $white;
     border-right: 0.1vh solid $hover;
     width: $width;
     height: $height;
     border-radius: $radius;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.5s ease-in-out;
     @include hover-active;
     &:hover{
          border-bottom: none;
          border-right:none;
          border-top: 1px solid $white;
          border-left: 1px solid $hover;
          box-shadow: 0.2vh 0.3vh 0.2vh 0.1vh $black;
          color: $white;
          transform: translateX($translate);
     }
}
@mixin animation($time){
     animation: pop 1s forwards;
     animation-duration: $time;
     transform-origin: center;
}
@keyframes pop {
     to{
          transform: rotateY(0);
     }
}
@mixin scrollY {
     overflow-y:scroll;
     overflow-x: hidden;
}