#projects{
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  .composante{
    display: block;
    height: 30vh;
    width: 23vw;
    border-radius:$radius;
    opacity: 0.5;
    margin: 5px auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    text-align: center;

    p{
      color: $hover;
      text-shadow: 2px 2px 0px $white,
                  3px 3px 0px  $hover,
                 -1px 1px 0px $black;
      width: 100%;
      height: 100%;
      letter-spacing: 3px;
      position:absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:3vw;
      backdrop-filter: blur(5px);
      visibility: hidden;
    }
    .language-contenaire{
      position: absolute;
      top: 0;
      width: 100%;
      height: 4vh;
      border-radius: $radius;      
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      color: black;
    }
    .btm-contenaire{
      width: 100%;
      height: 5vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: $white;
      backdrop-filter: blur(10px);
      border-radius: $radius;  
      .btm-contenue{
        color: $black !important;
        text-transform: uppercase;
        font-weight: bold;
        background: transparent !important;
        border: none !important;
        padding: 1px 1rem;
        @include btm(1vw,auto,1vw, 10px);
      }
    }
  }
}