
$bg-1:#0e175f;
$bg-2:#030a40f8;
$bg-3:#1a8ae1;
$hover:#2967a1;
$special-lettre:#00FFDD;
$text: #E8FFC2;
$white:#ddd;
$black:#333;

$radius: 2vh;
@font-face {
     font-family: "font-1";
     src: url(../inserer/font/AkayaTelivigala-Regular.ttf);
}
@font-face {
     font-family: "font-2";
     src: url(../inserer/font/NovaRound-Regular.ttf);
}
@font-face {
     font-family: "font-3";
     src: url(../inserer/font/dois/Dosis-VariableFont_wght.ttf);
}
@font-face {
     font-family: "font-4";
     src: url(../inserer/font/NovaRound-Regular.ttf);
}
*{
     padding: 0;
     margin: 0;
     letter-spacing: 2px;
     font-family: "font-1", sans-serif;
     font-weight: normal;
     color:$text;
     list-style: none;
     text-decoration: none;
}
body{
     background-color: $bg-3;
}
.bull{
     width:10vw;
     height: 10vw;
     border-radius: 50%;
     box-shadow: 1px 1px 3px wheat;
     background:$black;
     font-size: 3rem;
     font-weight: normal;
     position: fixed;
     top: 2vw;
     right: 2vw;
     z-index: 1;
     visibility: hidden;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0.6;
     i{
         transform: rotate(90deg);
     }
     &:hover{
          color: #00FFDD !important;
          opacity: 1;
     }
}