#statistique {
  height: 80vh;
  background: transparent;
  .contenaire-identiter {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40% 20% auto;
    grid-template-rows: 45vh 34vh;
    grid-template-areas:
      "languages diplomes diplomes"
      "autre autre interets ";
    .object{
      width: 100%;
      height: 100%;
      background: $bg-1;
      overflow: auto;
      border-radius: 20px;
      .etiquette-contenaire{
        width: 100%;
        height: 30px;
        background:transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        .etiquette{
          color:$special-lettre;
          font-size: 1.2rem;
        }
      }
      .object-contenue, .object-contenue ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }
    .languages {
      grid-area: languages;
    }
    .diplomes {
      grid-area: diplomes;
      display: block !important;
      #diplomes{
        flex-direction: column !important;
      }
    }
    .autres {
      grid-area: autre;
      position: relative;
      #autre1,#autre2{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      &::after{
        @include ligne(1px,80%,$left : 50%, $top : 15%);
      }
    }
    .interets {
      grid-area: interets;
    }
  }
}
.eatchLanguage {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 9px;
  background: $bg-2;
  box-shadow: 1px 1px 4px 0px $hover;
  &:hover {
    transform: scale(1.1);
  }
  h1 {
    font-size: 0.7rem;
    margin: 2px;
  }
  img,
  i {
    font-size: 2rem;
    width: 2rem;
    margin-top: 5px;
  }
  .progresseBarre {
    width: 70%;
    height: 0.3rem;
    margin: 0.3rem;
    border: 0.1px solid $hover;
    border-radius: 20px;
    .eatch-Bare {
      height: inherit;
      background: $hover;
      animation: anim 2s ease-in-out;
    }
    @keyframes anim {
      0% {
        width: 100%;
      }
    }
  }
}
.DiplomeEatch{
  width: 100%;
  height: 4rem;
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 30% 30%;
  grid-template-areas:
  "A"
  "B"
  "C";
  &:nth-child(2n){
    background: $bg-2;
  }
  &:nth-child(1){
    width: 100%;
    text-transform: uppercase;
    li{
      color: $hover;
    }
  }

  li{
    margin: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    position:relative;
    display: flex;
    align-items: center;
    height: 100%;
    &:nth-child(2){
      justify-content: center;
    }
    &::after{
      @include ligne(1px ,120%, $left : 100%);
      background:$hover2 !important ;
    }
  }
}
@media screen and (max-width : 870px){
  #statistique{
    .contenaire-identiter {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
      "languages" 
      "autre"
      "diplomes"
      "interets";
    }
    .object{
      height: auto;
      overflow:visible!important;
      border-radius: 0px !important;
      margin: 0 !important;
      height: auto;
    }
    .languages{
      grid-area: languages;
    }
    .diplomes{
      grid-area: diplomes;
      height: auto !important;
    }
    .autres{
      grid-area: autre;
    }
    .interets{
      grid-area: interets;
    }
  }
}