:root{
     --bg-1:#0e175f;
     --bg-2:#0e175ff8;
     --bg-3:#0b61a3;
     --hover:#a0e2e2;
     --special-lettre:#00FFDD;
     --text: #E8FFC2;
}
@font-face {
     font-family: "font-1";
     src: url(./inserer/Akaya_Telivigala/AkayaTelivigala-Regular.ttf);
}
*{
     padding: 0;
     margin: 0;
     font-family:"font-1", serif;
     color:var(--text) ;
}
ul li{
     list-style: none;
}
body{
     background-color: var(--bg-3);
     opacity: color 0.6;
}
a{
     text-decoration: none;
}
/*---------------------------------------------------------------------------------------*/
/*HEADER*/
header{
     height: 6.4rem;
     background: var(--bg-1);
     display: grid;
     grid-template-columns: 10% 90%;
     margin-bottom: 10px;
     letter-spacing: 2px;
     font-weight: bold;
     transition: color 0.5s ease-in-out;
}
 header h1{
     font-size: 20px;
     font-weight: bold;
     cursor: not-allowed;
     display: flex;
     justify-content: center;
     align-items: center;
}
/*MENU*/
.menu-bare {
     width: 60%;
     height: 80%;
     margin: auto auto;
}
.menu-bare ul ,
.menu-bare ul li,
.menu-bare ul li a{
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.menu-bare ul{
     border: 1px dashed var(--bg-3);
}
.menu-bare ul li a{
     padding: 0 10px;
     
}
.menu-bare ul li a:hover{
     background: var(--hover);
     color: var(--bg-1);
}
.menu-bare ul li a:active{
     transform: scale(0.9);
}
/*BEURGEUR MENU*/
#beurgeur{
     background:transparent;
     width: 3rem;
     height: 3rem;
     position: absolute;
     top: 2rem;
     right: 2rem;
     cursor: pointer;
     z-index: 1000;
     visibility: hidden;
}
#beurgeur span{
     height: 5px;
     display: block;
     border-radius: 5px;
     background-color:var(--hover);
     transition: 0.3s ease-in-out;
     position: absolute;
}
#beurgeur span:nth-child(1){
     width: 50%;
     top: 0;
}
#beurgeur span:nth-child(2){
     width: 100%;
     top: 12px;
}
#beurgeur span:nth-child(3){
     width: 50%;
     right: 0;
     top: 24px;
}
#beurgeur:hover{
     transform: scale(1.2);
}#beurgeur:active{
     transform: scale(1);
}
/*---------------------------------------------------------------------------------------*/
/*Main*/
main{
     width: 95%;
     height: auto;
     display: grid;
     margin: 0 auto 10px;
     grid-template-columns: 40% 60%;
     background:var(--bg-1);
     border: 1px dashed var(--bg-3);
     border-radius: 10px;
     
}
/*---------------------------------------------------------------------------------------*/
/*GAUCHE*/
.gauche{
     width: inherit;
     text-align: center;
     font-size: 2.4rem;
     position: relative;
}
.image{
     width: inherit;
     margin: 1rem auto 2rem;
     font-size: 2rem;
     letter-spacing: 3px;
}
.contact::after , .gauche::before{
     content: "";
     width: 9rem;
     height: 2px;
     position: absolute;
     top: 0;
     background: var(--bg-3);
     border-radius: 2rem;
     transform: translateX(-50%);
}
.gauche::before{
     top: 5%;
     left: 100%;
     width: 2px;
     height: 90%;
}
.contact {
     display: block;
     position: relative;
     letter-spacing: 1px;
     font-size: 1.2rem;
     line-height: 2rem;
}
.contact p{
     font-size: 2rem;
     color: var(--special-lettre);
     margin: 0 auto;
     padding-top: 1rem;
     letter-spacing: 9px;
} 
footer{
     height:auto;
     width: inherit;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 1.2rem auto;
}
footer i{
     margin-left: 2rem;
     font-size: 1.8rem;
     transition: 0.1s ease-in-out;
}
footer i:hover {
     transform: scale(1.2);
     color:var(--hover);
}
footer i:active{
     animation: icone 0.5s;
     transform: scale(1);
}
@keyframes icone {
     to{
          transform: scale(0.8);
     }
}

/*---------------------------------------------------------------------------------------*/
/* DROIT*/
.droit{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     font-size: 1.7 rem;
     letter-spacing:2px;
}
 .droit h1{
     font-size: 5rem;
     margin-bottom: 1.2rem;
     letter-spacing: 5px;
}

.droit h2{
     font-size: 2.5rem;
     letter-spacing: 1px;
     word-spacing: 2px;
     font-weight: normal;
} 
.btm-contenaire{
     width: auto;
     height: 125px;
     display: flex;
     align-items: center;
     font-size: 1rem
}
.btm{
     width: 40%;
     height: 35%;
     background: var(--bg-3);
     border: 2px solid var(--hover);
     border-radius: 20px;
     letter-spacing: 2px;
     word-spacing: 6px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 10px;
     transition: 0.5s ease-in-out;
     text-align: center;
}
.btm:hover{
     background: var(--hover);
     color: var(--bg-1);
     font-weight: bold;
}
.btm:active{
     animation: icone 0.5s infinite;
}
.droit p{
     letter-spacing: 2px;
     word-spacing: 3px;
     font-size:1.5rem;
}
.nom{
     font-size: 1.7rem;
     font-weight: bold;
     color:var(--special-lettre);
} 
/*---------------------------------------------------------------------------------------*/
@media screen and (max-width : 870px){
    
     /*HEADER*/
     header{
          grid-template-columns: 50% 50%;
          grid-template-rows: 20% 80%;
          grid-template-areas: 
          "portfolio beurgeur"
          "menu menu";
     }
     header h1{
          grid-area: portfolio;
          justify-content: start;
          margin: 2rem;
     }
     .menu-bare{
          width: 100%;
          margin: 15px 0 0;
          grid-area: menu;
          justify-content: start;
          display: flex;
          justify-content: center;
          padding: 0;
          margin: 0;
          transform: translateY(-200px);
     }
     .menu-bare ul{
          width: inherit;
          flex-direction: column;
     }
     #beurgeur{
          grid-area: beurgeur;
          visibility: visible;
     }
     /*MAIN*/
     main{
          width: 100%;
          background: none;
          display: flex;
          flex-direction: column;
          transition: 0.5s ease-in-out;
     }
     .gauche{
          width: 100%;
          background: var(--bg-1);
          margin: 0;
          padding: 0 0 2rem;
          top: 0;
          left: 0;
     }
     /*DROIT*/
     .droit{
          background: var(--bg-1);
          padding: 2rem;
          margin-top: 1rem;
     }
     .droit h2{
          margin-bottom: 2rem;
     }
     .droit p{
          padding: 0;
     }
     .btm-contenaire{
          height: 100px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem 0;
     }
     .btm {
          height: 35%;
          margin-top: 5px;
     }
     /*JS*/
     #beurgeur.active span:nth-child(1){
          width: 100%;
          top: 12px;
          transform: rotate(45deg);
     }
     #beurgeur.active span:nth-child(2){
          visibility: hidden;
     }
     #beurgeur.active span:nth-child(3){
          width: 100%;
          top: 12px;
          transform: rotate(-45deg);
     }
     /*js*/
     .visible{
          visibility: visible;
          transform: translateY(0);
     }
     .scale{
          height: 300px;
     }
}