:root{
     --bg-1:#0e175f;
     --bg-2:#0e175ff8;
     --bg-3:#0b61a3;
     --hover:#a0e2e2;
     --special-lettre:#00FFDD;
     --text: #E8FFC2;
}
@font-face {
     font-family: "font-1";
     src: url(./inserer/Akaya_Telivigala/AkayaTelivigala-Regular.ttf);
}
*{
     padding: 0;
     margin: 0;
     letter-spacing: 2px;
     font-family:"font-1", serif;
     color:var(--text) ;
}
ul li{
     list-style: none;
}
body{
     background-color: var(--bg-3);
     opacity: color 0.6;
}
a{
     text-decoration: none;
}
.special{
     font-size: 2rem;
     color: var(--special-lettre);
     padding-top: 1rem;
     letter-spacing: 5px;
     margin-left: 1rem;
} 
.flex-evenly{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.HOVER:hover
{
     transform: scale(1.1);
     transition: 0.1s ease-in-out;
     color:var(--hover);
}    

.ACTIVE:active{
     animation: anim 0.5s infinite;
}
@keyframes anim{
     to{
          transform: scale(0.8);
     }
}

/*---------------------------------------------------------------------------------------*/
/*HEADER*/
header{
     height: 4rem;
     margin-bottom: 1rem;
     padding: 5px;
     background: var(--bg-1);
     display: grid;
     grid-template-columns: 10% 80% 10%;
}
/*MENU*/
.menu{
     width: 60%;
     margin: 0 auto;
     border: 1px dashed var(--bg-3);
}/*flex-evenly*/
#beurgeur{
     width: 3rem;
     height: 2rem;
     cursor: pointer;
     position: absolute;
     top: 1rem;
     right: 2rem;
     z-index: 1000;
     visibility: hidden;

}
#beurgeur span{
     height: 5px;
     border-radius: 5px;
     display: block;
     background-color:var(--hover);
     transition: 0.3s ease-in-out;
     position: absolute;
}
#beurgeur span:nth-child(1){
     width: 50%;
     top: 0;
}
#beurgeur span:nth-child(2){
     width: 100%;
     top: 12px;
}
#beurgeur span:nth-child(3){
     width: 50%;
     right: 0;
     top: 24px;
}
/*---------------------------------------------------------------------------------------*/
main{
     width: 95%;
     height: auto;
     min-height: 80vh;
     display: grid;
     margin: 0 auto 10px;
     grid-template-columns: 40% 60%;
     background:var(--bg-1);
     border: 1px dashed var(--bg-3);
     border-radius: 10px;
}
/*---------------------------------------------------------------------------------------*/
.gauche{
     width: inherit;
     text-align: center;
     position: relative;
     flex-direction: column;
}
.contact {
     position: relative;
     font-size: 1.2rem;
}
.contact::after , .gauche::before{
     content: "";
     width: 9rem;
     height: 2px;
     position: absolute;
     top: 0;
     left: 50%;
     background: var(--bg-3);
     transform: translateX(-50%);
}
.gauche::before{
     top: 5%;
     left: 100%;
     width: 2px;
     height: 90%;
}
footer{
     width: 60%;
     font-size: 1.6rem;
     margin-top: 1rem;
}
/*---------------------------------------------------------------------------------------*/
.droit{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     font-size: 1.5rem;
     letter-spacing:2px;
}
 .droit h1{
     font-size: 5rem !important;
}
.droit h1, .droit h2 u{
     color: var(--text);
}

.btm-contenaire{
     width: auto;
     height: 125px;
     font-size: 1rem
}/*flex-evenly*/
.btm{
     width: 40%;
     height: 3rem;
     border-radius: 20px;
     background: var(--bg-3);
     border: 1px solid var(--hover);
}/*HOVER ACTIVE  flex-evenly*/
/*---------------------------------------------------------------------------------------*/
@media screen and (max-width : 870px){
     header{
          grid-template-columns: 50% 50%;
          grid-template-rows: 20% 80%;
          grid-template-areas: 
          "portfolio beurgeur"
          "menu menu";
     }
     header h1{
          grid-area: portfolio;
     }
     .menu{
          grid-area: menu;
          flex-direction: column;
          visibility: hidden;
     }

     #beurgeur{
          grid-area: beurgeur;
          visibility: visible;
     }
     /*MAIN*/
     main{
          width: 100%;
          background: none;
          display: flex;
          flex-direction: column;
          transition: 0.5s ease-in-out;
     }
     .gauche{
          width: 100%;
          background: var(--bg-1);
          margin: 0;
          padding: 0 0 2rem;
          top: 0;
          left: 0;
     }
     .droit{
          background: var(--bg-1);
          padding: 2rem;
          margin-top: 1rem;
     }
     .btm-contenaire{
          flex-direction: column;
     }
     /*JS------------------------------------------------------------------------------------------*/
     #beurgeur.activeJS span:nth-child(1){
          width: 100%;
          top: 12px;
          transform: rotate(45deg);
     }
     #beurgeur.activeJS span:nth-child(2){
          visibility: hidden;
     }
     #beurgeur.activeJS span:nth-child(3){
          width: 100%;
          top: 12px;
          transform: rotate(-45deg);
     }
     .visibleJS{
          visibility: visible;
          transform: translateY(0);
     }
     .scaleJS{
          height: 300px;
     }
     .fixed{
          top: 0;
          position: fixed;
          width: 100%;
          z-index: 1;
     }
}
