*{
     margin: 0;
     padding: 0;
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
     width: 100vw;
     height: 100vh;
     overflow: hidden;
}
.contenaire{
     width: 20rem;
     height: 35rem;
     border: 1px solid #000;
     margin: 1rem auto;
     padding: 9px;
     position: relative;
}
h3 {
     font-weight: normal;
     font-size: 2rem;
     text-align: center;
     margin: 1rem 0;
}
.contenaire-resultat{
     height: 100px;
     border: 1px solid blue;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: auto;
}
#resultat{
     width: auto;
     height: 1.2rem;
     font-size: 1.2rem;
     position: relative;
}
#resultat::after{
     content: "";
     position: absolute;
     top: 0;
     right: -1;
     width: 2px;
     height:100%;
     background: #000;
     animation: anim 0.6s linear infinite;
}
@keyframes anim{
     to{
          opacity: 0;
     }
}
.contenaire-button{
     display: grid;
     grid-template-columns: 30% 30% 30%;
     grid-template-rows:  15% 15% 15% 15% 15% 15%;
     grid-template-areas: 
     "b7 b8 b9"
     "b4 b5 b6"
     "b1 b2 b3"
     "b+ b0 b-"
     "b/ b* b="
     "bC b. b=";
}
.b0{grid-area: b0;}